<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="alternate"
          type="application/atom+xml"
          title="Atom Feed"
          href="feed.xml" />

    <title><%= current_page.data.title || "mo.morsi.org" %></title>

    <!-- jquery -->
    <%= javascript_include_tag "jquery-3.2.1.min" %>
    <%= javascript_include_tag "jquery-ui.min" %>

    <!-- rogue syntax highlighting (via middleman-syntax) -->
    <%= stylesheet_link_tag    "highlighting" %>

    <!-- my stuff -->
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <!-- set custom stylesheets per page -->
    <% [current_page.data.stylesheets,
        current_page.data.stylesheet].flatten.each { |s| %>
      <%= stylesheet_link_tag s unless s.nil? %>
    <% } %>

    <%= favicon_tag 'images/favicon.png' %>
  </head>

  <body>
    <!-- global nav -->
    <%= partial "nav" %>

    <!-- XXX include article container, header, footer on specific article pages -->
    <div id="content">
      <% if current_page.page_id =~ /articles\/.*/ %>
        <div class="article">
          <%= partial :article_header,
                      :locals => {:article => current_page} %>

          <%= yield %>

          <%= partial :article_footer,
                      :locals => {:article => current_page} %>
        </div>

      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
