<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "mo.morsi.org" %></title>

    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Orbitron" %>

    <!-- jquery -->
    <%= javascript_include_tag "jquery-3.2.1.min" %>
    <%= javascript_include_tag "jquery-ui.min" %>

    <!-- rogue syntax highlighting (via middleman-syntax) -->
    <%= stylesheet_link_tag    "highlighting" %>

    <!-- my stuff -->
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <%= javascript_include_tag "matrix" %>
    <%= javascript_include_tag "dwitter" %>

    <!-- set custom stylesheets per page -->
    <% [current_page.data.stylesheets,
        current_page.data.stylesheet].flatten.each { |s| %>
      <%= stylesheet_link_tag s unless s.nil? %>
    <% } %>

    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <!-- global nav -->
    <%= partial "nav" %>

    <!-- global background -->
    <canvas id="matrix_output"></canvas>

    <!-- global tag widget -->
    <%= partial "tag_widget" %>

    <!-- search widget -->
    <%= partial "search_widget" %>

    <!-- XXX include article container/date/title on specific article pages -->
    <% if current_page.page_id =~ /articles\/.*/ %>
      <div class="article">
        <%= partial :article_date, :locals => {:article => current_page} %>
        <%= partial :article_tags, :locals => {:article => current_page} %>
        <h1><%= current_page.title %></h1>

        <%= yield %>
      </div>

    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
