---
title: Bringing the Android back to the Mazes of Menace
date: 2011-11-09
tags: android, nethack
---

<%= image_tag "android_logo.jpg", :style => "float: left; margin-right: 20px; width: 250px; height: 250px;" %>
<p>I am pleased to announce a new release of the <a href="https://github.com/movitto/nethack-encyclopedia">Nethack Encyclopedia</a>, my first android app in production. Before I jump into release notes, please take note that due to my <a href="http://mo.morsi.org/blog/node/341">hardware crash</a> a while back I lost my android signing keys, and had to release the software as a new app, dubbed the 'Nethack Encyclopedia Redux'. If you've downloaded the old version, please uninstall and download the newer one (I marked the old as being deprecated, not sure if the Android platform takes care of notifying the user of this though). Regardless, new features shipped with the app include
</p>

<ul>
<li>many more quick stats including armor, rings, and wands</li>
<li>much improved encyclopedia performance, encyclopedia is now broken up into alphabetical sections and content is pulled from the new nethack wiki at <a href="http://nethackwiki.com/wiki/Main_Page">nethackwiki.com</a></li>
<li>far better calculator layouts and design, and new 'spell success rate' tool</li>
<li>start of a tutorial section, with some content from my experiences as a novice explorer of the Mazes of Menace, this will be improved upon going forward</li>
<li>many overall improvements and optimizations, see the <a href="https://github.com/movitto/nethack-encyclopedia">git commit log</a> for more information</li>
</ul>

<p>
I am looking for some more constructive feedback, namely around testing on multiple sized devices. I've done a little, but not nearly as much as I should have and still have quite a bit of hard coded pixel values in the layouts.
</p>

<p>
And with that I leave you with some screenshots of the new version. Hope this helps your travels through the dungeons!
</p>

<%= link_to image_tag("screenshot-new1.png", :style => "float: left; margin-right: 5px; width: 100px; height: 200px;"), image_path("screenshot-new1.png") %><%= link_to image_tag("screenshot-new2.png", :style => "float: left; margin-right: 5px; width: 100px; height: 200px;"), image_path("screenshot-new2.png") %><%= link_to image_tag("screenshot-new3.png", :style => "float: left; margin-right: 5px; width: 100px; height: 200px;"), image_path("screenshot-new3.png") %><%= link_to image_tag("screenshot-new4.png", :style => "float: left; margin-right: 5px; width: 100px; height: 200px;"), image_path("screenshot-new4.png") %></a><%= link_to image_tag("screenshot-new6.png", :style =>"float: left; margin-right: 5px; width: 100px; height: 200px;"), image_path("screenshot-new6.png") %></a><%= link_to image_tag("screenshot-new7.png", :style => "float: left; margin-right: 5px; width: 100px; height: 200px;"), image_path("screenshot-new7.png") %><%= link_to image_tag("screenshot-new8.png", :style => "margin-right: 5px; width: 100px; height: 200px;"), image_path("screenshot-new8.png") %>
