---
title: Lessons on Aikido and Life via Splix
date: 2016-11-07
tags: aikido, philosophy, splix, gaming
---

<p>Recently, I've stumbled upon <a href="http://splix.io">splix</a>, a new <strike>obsession</strike> game, with simple mechanics that unfold into a complex competitive challenge requiring fast reflexes and dynamic tactics.</p>

<%= link_to image_tag("splix-intro.gif"), image_path("splix_intro.gif") %>

<p>
At the core the rule set is very simple:
  - surround territory to claim it
  - do not allow other players to hit your tail (you lose... game over)
</p>

<%= link_to image_tag("splix-overextended.gif"), image_path("splix-overextended.gif") %>

<p>
While in your territory you have no tail, rendering you invulnerable, but during battles territory is always changing, and you don't want to get caught deep on an attack just to be surrounded by an enemy who swaps the territory alignment to his!
</p>

<%= link_to image_tag("splix-deception.gif"), image_path("splix-deception.gif") %>

<p>
The simple dynamic yields an unbelievable amount of strategy & tactics to excel at while at the same time requiring quick calculation and planning. A foolheardy player will just rush into enemy territory to attempt to capture squares and attack his opponent but a smart player will bait his opponent into his sphere of influence through tactful strikes and misdirections.
</p>

<%= link_to image_tag("splix-bait.gif"), image_path("splix-bait.gif") %>

<p>
Furthermore we see age old adages such as "better to run and fight another day" and the wisdom of pitting opponents against each other. Alliances are always shifting in splix, it simply takes a single tap from any other player to end your game. So while you may be momentarily coordinating with another player to surround and obliterate a third, watch your back as the alliance may dissove at the first opportunity (not to mention the possiblity of outside players appearing anytime!)
</p>

<%= link_to image_tag("splix-alliance.gif"), image_path("splix-alliance.gif") %>

<p>
All in all, I've found careful observation and quick action to yield the most successful results on the battlefield. The ideal kill is from behind an opponent who has periously invaded your territory deeply. Beyond this, lurking at the border so as the goad the enemy into a foolheardy / reckless attack is a robust tactic provided you have built up the relfexes and coordination to quickly move in and out of territory which is constantly changing. Make sure you don't fall suspect to your own trick and overpenetrate the enemy border!
</p>

<%= link_to image_tag("splix-bait2.gif"), image_path("splix-bait2.gif") %>

<p>
Another tactic to deal w/ an overly aggressive opponent is to slightly fallback into your safe zone to quickly return to the front afterwords, perhaps at a different angle or via a different route. Often a novice opponent will see the retreat as a sign of fear or weakness and become over confident, penetrating deep into your territory in the hopes of securing a large portion quickly. By returning to the front at an unexpected moment, you will catch the opponents off guard and be able to destroy them before they have a chance to retreat to their safe zone.
</p>

<%= link_to image_tag("splix-draw_out.gif"), image_path("splix-draw_out.gif") %>

<p>
Of course if the opponent employs the same strategy, a player can take a calculated risk and drive a distance into the enemy territory before returning to the safe zone. By paying attention to the percentage of visible territory which the player's vulnerability zone occupies and the relative position of the opponent, they should be able to safely guage the safe distance to which they can extend so as to ensure a safe return. Taking large amounts of territory quickly is psychologically damaging to an opponent, especially one undergoing attacks on multiple fronts.
</p>

<%= link_to image_tag("splix-draw_out2.gif"), image_path("splix-draw_out2.gif") %>

<p>
If all else fails to overcome a strong opponent, a reasonable retreat followed by an alternate attack vector may result in success. Since in splix we know that an safe zone corresponds to only one enemy, if we can guage / guess where they are, we can attempt to alter the dynamics of the battle accordingly. If we see that an opponent has stretch far beyond the mass of his safe zone via a single / thin channel, we can attempt to cut them off, preventing a retreat without crossing your sphere of influence.
</p>

<%= link_to image_tag("splix-changing.gif"), image_path("splix-changing.gif") %>

<p>
This dynamic becomes even more pronounced if we can encircle an opponent, and start slowly reducing his control of the board. By slowly but mechanically & gradually taking enemy territory we can drive an opponent in a desired direction, perhaps towards a wall or other player.
</p>

<%= link_to image_tag("splix-tactics2.gif"), image_path("splix-tactics2.gif") %>

<p>
Regardless of the situation, the true strategist will always be shuffling his tactics and actions to adapt to the board and setup the conditions for guaranteed victory. At no point should another player be underestimated or trusted. Even a new player with little territory can pose a threat to the top of the leader board given the right conditions and timing. The victorious will stay clam in the heat of the the battle, and use careful observations, timing, and quick reflexes to win the game.
</p>

(&lt;endnote&gt; the game *requires* a keyboard, it can be played via smartphone (swapping) but the arrow keys yields the fastest feedback&lt;/endnode&gt;)
