---
title: 3D Printing Fun
date: 2017-05-10 13:36 UTC
tags: 3d printing, raspberry pi
---

<p>
The <%= link_to "PI Switch", "http://mo.morsi.org/blog/2017/02/18/Project_Idea_PI_Sw1tch/" %> project took a bit of a setback recently when we discovered the 5200mAH usb battery we had wasn't sufficient to drive the PI + display for any extensive period of time. I've ordered a higher-capacity battery from Amazon, but until it arrives the working prototype was redesigned into a snappable wall mount:
</p>

<%= link_to image_tag("wall-pi2.jpg", :style=> "width: 45%; float: left;"), image_path("wall-pi2.jpg") %>
<%= link_to image_tag("wall-pi1.jpg", :style=> "width: 45%; float: left; margin-left: 15px;"), image_path("wall-pi1.jpg") %>
<div style="clear: both"></div>

<p>
The current implementation can be found on <%= link_to "thingiverse", "http://www.thingiverse.com/thing:2301101" %> for all your 3D printing needs!
</p>

<p>
Additionally, we <%= link_to "threw together", "http://www.thingiverse.com/thing:2301131" %> a design for a wall mount for my last smartphone, the Samsung Intercept, which has been sitting on my shelf since I upgraded to the Huawei Union. The Intercept was a great phone, and it still works well, albiet a bit slow compared to modern devices (not to mention it only runs Android 2.2). But it more than suffices for a "smart" entertainment hub, and having mounted &amp; wired up to my stereo system, I now have easy access to all the albums in the world (...that are available via youtube...). The device supposidly can be <%= link_to "rooted", "https://theunlockr.com/2012/10/24/how-to-root-the-samsung-intercept/" %>, though I was not able to accomplish that myself and don't really care to spend more time figuring that out (really wouldn't gain much). But just goes to show how a little inguinity + some design work can go along way at reducing e-waste.
</p>

<%= link_to image_tag("wall-intercept2.jpg", :style=> "width: 45%; float: left;"), image_path("wall-intercept2.jpg") %>
<%= link_to image_tag("wall-intercept1.jpg", :style=> "width: 45%; float: left; margin-left: 15px;"), image_path("wall-intercept1.jpg") %>
<div style="clear: both"></div>

<p>
Now time to figure out what to do w/ my ancient Droid (the original <%= link_to "A855", "https://en.wikipedia.org/wiki/Motorola_Droid" %>!)
</p>

<p>
Keep on hacking!
</p>
<!-- break -->
