---

title: Dev Null Productions
date: 2018-08-23 14:36 UTC
tags: employment, llc, xrp

---

<p>After my <%= link_to "Departure from RedHat", post_url("Into The Unknown - My Departure from RedHat") %> I was able to get some RnR, but quickly wanted to get a head start of my next venture. This is because I decided to put a cap on the amount of time that would be dedicated to trying to make "it" happen, and would pause at regular checkpoints to monitor progress. This is not to say I'm going to quit the endeavor at that point in the future (the timeframe of which I'm keeping private), but the intent is to drive focus and keep the ball moving forward objectively. While <%= link_to "Omega", post_url("Omega - A Universe Over IP") %> was a great project to work on, both fun and the source of much growth and experience, I am not comfortable with the amount of time spent on it, for what was gained. All hindsight is 20/20, but every good trader knows when to <%= link_to "cut losses", "https://www.investopedia.com/articles/stocks/08/capital-losses.asp" %>.</p>

<p><b><%= link_to "Dev Null Productions", "http://devnull.network" %></b> was launched four months ago in April 2018 and we haven't looked back. Our flagship product, <%= link_to "Wipple XRP Intelligence", "http://wipple.devnull.network" %> was launched shortly after, providing realtime access to the XRP network and high level stats and reporting. The product is under continued development and we've begun a social-media based <%= link_to "marketing drive", "https://twitter.com/DevNullProd" %> to promote the product. Things are still early, and there is still aways to go &amp; obstacles to overcome (not to mention the crypto-currency bear market that we've been in for the last 1/2 year), but the progress has been great, and there are many more awesome features in the queue</p>

<p>This Thursday, I am giving a <%= link_to "presentation", "/presentations/blockchain_babble/" %> on XRP to the <%= link_to "Syracuse Software Development Meetup", "https://www.meetup.com/Syracuse-Software-Development-Meetup/events/252170902/" %>, hosted at the Tech Garden, a tech incubator in Syracuse, NY. I aim to go over the XRP protocol, discussing both the history of Ripple and the technical details, as well as common use cases and gotchyas from our experiences. The event is looking very solid, and there is already a large turnout and some great momentum growing, so I'm excited to participate in it and see how it all goes. While we're still in the early phases of development, I'm hoping to drive some interest in the project, and perhaps meet collaborators who'd like to come onboard for a percentage of ultimate profits!</p>

<p>
Be sure to stay tuned for more updates and developments, until then, keep Rippling!
</p>

<%= image_tag "ripple-moon.png" %>
