<div id="nav">
  <h1 id="nav_header"><%= link_to "mo.morsi.org", "/" %></h1>
  <div id="nav_links">
    <span class="nav_item"><%= link_to "TOC", "toc" %></span>
    <span class="nav_item"><%= link_to "Tags", "tags" %></span>
    <span class="nav_item"><%= link_to "About", "about" %></span>
    <span class="nav_item"><%= link_to "Code", "http://github.com/movitto/" %></span>
    <span class="nav_item"><%= link_to "Presentations", "presentations" %></span>
  </div>
</div>
