<div id="nav">
  <h1 id="nav_header"><%= link_to "mo.morsi.org", "/" %></h1>
  <div id="nav_links">
    <span class="nav_item"><%= link_to "ToC", "toc" %></span>
    <span class="nav_item"><%= link_to "Presentations", "presentations" %></span>
    <span class="nav_item"><a href="https://github.com/movitto/"><%= image_tag "github.png" %></a></span>
    <span class="nav_item"><a href="https://linkedin.com/in/mmorsi"><%= image_tag "linkedin.png" %></a></span>
    <span class="nav_item"><a href="https://twitter.com/mm0rsi"><%= image_tag "twitter.png" %></a></span>
  </div>
</div>
