<div id="nav">
  <h1 id="nav_header"><%= link_to "morsi.org", "/" %></h1>
  <span class="nav_item"><%= link_to "TOC", "toc" %> &#8721; <br/></span>
  <span class="nav_item"><%= link_to "About", "about" %> &#4042; <br/></span>
  <span class="nav_item"><%= link_to "Code", "http://github.com/movitto/" %> &#9000; <br/></span>
  <span class="nav_item"><%= link_to "Presentations", "presentations" %> &#9822; <br/></span>
</div>
